<!-- Footer -->
<footer>
  <div class="footer-wrapper pt-3">
   
   

    
  </div>
  </div>
</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel" src="/js/index.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/babel" src="/js/chart.js"></script>





<script type="text/babel">
  const formType = document.querySelector('#form-type');
  const tableHeading = document.querySelector('#table-head');
  const tableBody = document.querySelector('#table-body');
  const simpleForm = document.querySelector('#simple-form').innerHTML;
  const advanceForm = document.querySelector('#advance-form').innerHTML;
  document.querySelector('#advance-form').innerHTML = '';
  document.querySelector('#simple').addEventListener('click', () => {
    formType.innerHTML = simpleForm;
  });

  document.querySelector('#advance').addEventListener('click', () => {
    formType.innerHTML = advanceForm;
    const calendar = document.querySelector("#expiry_date");
    const tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    calendar.setAttribute('min', tomorrow.toISOString().split('T')[0]);
  });
</script>




</body>

</html>
